#KoC:before {
text-align:end;
background-position:-15px 0;
}

.elementor-post.elementor-grid-item.wpbf-post > div > h3 > a:visited {
color:#566163;
}

#inner-content {
max-width:100%!important;
padding:0;
}

.elementor-section-height-default>div>div>div>div>div>h1 {
color:#a7a7a7;
}

.jconfirm-scrollpane>*div.jconfirm-buttons>button {
visibility:hidden;
}

.jconfirm-scrollpane>*div.jconfirm-buttons>button:after {
content:'Atualizar';
visibility:visible;
display:block;
position:absolute;
background-color:#00bfff;
padding:5px;
top:150px;
}

.elementor-widget.elementor-widget-elementskit-post-list > div > div > ul > li > a {
background-image:radial-gradient(at center center,#1c2d33 75%,#89E4FB 100%)!important;
}

@media print {
#container {
display:none!important;
}

body:after {
content:"Vᴏᴄᴇ Nᴀ̃ᴏ Pᴏᴅᴇ Iᴍᴘʀɪᴍɪʀ Esse Cᴏɴᴛᴇᴜ́ᴅᴏ ᴅᴀ Vᴜʟᴄᴀɴ!!";
font-size:55px;
color:#000;
position:absolute;
top:35%;
text-align:center;
}
}

body::-webkit-scrollbar-track {
-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.3);
background-color:#212121;
}

::-webkit-scrollbar-corner,body::-webkit-scrollbar {
width:10px;
height:10px;
background-color:#212121;
}

body::-webkit-scrollbar-thumb {
border-style:solid;
border-radius:10px;
background-color:#656673;
background-image:-webkit-linear-gradient(90deg,transparent,rgba(0,0,0,.6) 50%,transparent,transparent);
}

#container>div.post>div>section.elementor-section.elementor-top-section.elementor-element.elementor-section-boxed>div>div>div>div.elementor-widget.elementor-widget-html {
margin:1px!important;
}

#container>div.post>div>section.elementor-section.elementor-top-section.elementor-element.elementor-section-boxed.elementor-section-height-default>div>div>div>div>div>hr {
position:relative;
top:-11px;
}

.escuro {
background:#000!important;
}

.escuro * {
color:#d5d5d5!important;
}

.escuro div#veja-t * {
color:#c596ff!important;
}

.escuro .elementor-button-wrapper * {
color:#000!important;
}

.gandalf {
background:#999!important;
}

.gandalf * {
color:#00063f!important;
}

.atlantida {
background:#4c6989!important;
}

.atlantida * {
color:#ededed!important;
}

.night {
background:#14272d!important;
}

i.fa.fa-gavel.tem-5 {
color:#cdcdcd!important;
}

.light {
background:#fff7e0!important;
}

.light * {
color:#000!important;
}

.light h1.elementor-heading-title {
color:#fff!important;
}

.light #chapter-utils-mobile *,.light #feedback * {
color:#fff!important;
}

.light a.scrolltop,.light #Topo {
filter:grayscale(80%);
}

.light .elementor-search-form__input {
background:#4b4b4b!important;
color:#fff!important;
}

.light .fa-search {
color:#c4c4c4!important;
}

.night .tema-v,.light .tema-v,.escuro .tema-v,.atlantida .tema-v,.gandalf .tema-v {
display:block;
}

.tem-2:after {
content:' Atlântida';
}

.tem-1:after {
content:' Abismo';
}

.gandalf #SYS0 *,.gandalf #sistema-celular *,.light #sistema-celular * {
color:#e3e3e3!important;
}

.tem-3:after {
content:' Éter';
}

.tem-4:after {
content:' Niflheim';
}

.tem-5:after {
content:' Gandalf';
}

.tema-v,.light .tem-2,.night .tem-1,.escuro .tem-3,.gandalf .tem-4,.atlantida .tem-5 {
display:none;
}

.gandalf #esconda-t > label > img {
filter:none!important;
}

.atlantida #esconda-t > label > img {
filter:invert(1)!important;
}

.night button.w3-bar-item.w3-button.themeNight,.night button.w3-bar-item.w3-button.themeLight,.escuro button.w3-bar-item.w3-button.themeEscuro,.gandalf button.w3-bar-item.w3-button.themeGandalf,.atlantida button.w3-bar-item.w3-button.themeAtlantida {
padding:0;
}

.light .w3-button.themeNight,.light .w3-button.themeGandalf,.light .w3-button.themeAtlantida,.night .w3-button.themeAtlantida,.night .w3-button.themeLight,.night .w3-button.themeEscuro,.escuro .w3-button.themeGandalf,.escuro .w3-button.themeAtlantida,.escuro .w3-button.themeLight,.gandalf .w3-button.themeNight,.gandalf .w3-button.themeLight,.gandalf .w3-button.themeEscuro,.atlantida .w3-button.themeEscuro,.atlantida .w3-button.themeGandalf,.atlantida .w3-button.themeNight {
display:none;
}

body {
transition:background .2s linear;
}

.atlantida i.fa.fa-tint.tem-2 {
color:#bdfff8!important;
}

.gandalf h1.elementor-heading-title.elementor-size-default,.atlantida h1.elementor-heading-title.elementor-size-default,.gandalf .elementor-element-79800919 >* {
color:#aeaeae!important;
}

.gandalf #container > div.elementor.elementor-94824 > * a,.light #container > div.elementor.elementor-94824 > * a {
filter:invert(1);
}

.light #wpadminbar a.ab-item {
color:#13b6ad!important;
}

.display-name,.elementor-edit-link-title,.light #wpadminbar>#wp-toolbar span.ab-label {
color:#fff!important;
}

.escuro div.elementor-background-overlay,.gandalf div.elementor-background-overlay,.atlantida div.elementor-background-overlay,.light div.elementor-background-overlay {
display:none;
}

.fa-sun:before {
color:#f39c12;
}

.escuro ul.ekit_social_media * {
color:#be0098!important;
}

.atlantida ul.ekit_social_media * {
color:#0d0b0b!important;
}

.pequena {
font-size:70%;
}

.fa-sun:after {
color:#cc7d00;
}

.tema-a {
position:relative;
left:5px;
}

.tema-zero {
display:flex;
}

.fa-font:before {
color:#fff;
}

.light .fa-font:before {
color:#000;
}

button.w3-bar-item.w3-button.fontPlus>i:after {
content:'+';
}

button.w3-bar-item.w3-button.fontMinus>i:after {
content:'-';
font-size:150%;
position:absolute;
top:20%;
}

.light .w3-button.themeLight {
padding:0;
}

.night .fa-font:after,.night .fa-font:before,.night .tema-zero {
color:#d5d5d5;
}

#veja-t {
display:none;
}

#comi-o-toba-de-quem-leu {
display:none;
}

#comi-o-toba-de-quem-leu:checked~#veja-t {
display:flex;
border-style:groove;
border-width:1px;
border-radius:15px 15px 15px 0;
box-shadow:6px -3px 15px 12px #5c5c5c inset;
}

#comi-o-toba-de-quem-leu:checked~#esconda-t {
display:flex;
}

#comi-o-toba-de-quem-leu:checked~#letra-zoom {
display:none;
}

#esconda-t>label>img {
padding:0 0 50%;
width:30px;
}

.night #esconda-t>label>img {
filter:invert(80%);
}

#esconda-t>label>img {
position:relative;
left:10px;
filter:invert(80%);
}

.light #esconda-t>label>img {
filter:invert(0);
}

.light #comi-o-toba-de-quem-leu:checked~#veja-t {
box-shadow:6px -3px 15px 12px #fefefe inset;
}

.light .elementor-nav-menu--dropdown {
background-color:#fff!important;
}

@media screen and (min-width:1024px) and (max-width:1600px) {
#esconda-t>label>img {
left:-55px;
width:38px;
}

#veja-t {
left:-13%!important;
}
}

@media screen and (min-width:480px) and (max-width:767px) {
#esconda-t>label>img {
left:5px;
width:34px!important;
}
}

.zooom {
padding:auto;
font-size:100%;
}

#fechazoom,:fullscreen #abrezoom {
display:none;
}

:fullscreen .elementor-sticky {
position:relative!important;
}

:fullscreen body>a.scrolltop {
opacity:15%;
}

:fullscreen #esconda-t>label>img {
opacity:45%;
}

:fullscreen .elementor-section.elementor-section-boxed>.elementor-container {
max-width:100%;
}

#carregando,:fullscreen #fechazoom {
display:block;
}

#capitulos-conteudo,#OCULTO,#gtx-trans {
display:none;
}

#VISIVEL {
display:inline;
width:35px;
position:absolute;
margin:-8px 3px;
}

.rodape01 {
background-repeat-x:repeat!important;
}

div#carregando1 {
top:3rem;
font-size:5px;
}

.name--header >.discord {
height:0;
}

#esconda-t > label > img {
cursor:pointer;
}

@media only screen and (min-width: 1350px) {
#KoC:before {
text-align:end;
background-position:-20px 0;
}
}
transition: all 0.52s;
    background: #0e2329;
    color: #f5ecfe;
    font-size: x-large;
    border: #777 solid 1px;
    border-radius: 34px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 52%);
    position: fixed;
    top: -150px;
    width: 20%;
    padding: 5px 0;
    text-align: center;
    left: auto;
    opacity: 1;
}

#mensagem.ver {
  top: 75px;
  opacity: 1;
}
input#texto,input#texto1 {
        width: auto;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    line-height: 0;    left: -55555px;
    position: absolute;
}
.padrim {
    width: 100px;
    height: 36px;margin: 0 7px;    cursor: pointer;
}

.pix{background: url(/wp-content/uploads/2021/06/pix-106-1.svg) no-repeat}.pic_pay{background: url(/wp-content/uploads/2021/06/picpay-44.svg) no-repeat;}
#padrim{display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;}
